.app-wrapper {
  width: 960px;
  margin: 0 auto;
  display: grid; /*Это метод организации структуры приложения*/
  grid-template-areas: /*Задаем как расположить наш контент в рамках grid строк и колонок*/
    "h h" /*Здесь задаем расположение в первой строке. Оба наших столбца заняты блоком header, которому мы ниже прислоили grid-area имя - h */
    "n c"; /*Здесь задаем расположение во второй строке. Первый наш столбец занят блоком nav (на задали ему grid-area имя - n). Второй столбец занят блоком  content (grid-area имя - c)*/
  grid-template-rows: 60px 1fr; /*Задаем количествоа строк приложения. В этом случае мы задали 2 строки. Первая - 60px высотой, второй - 1фракция*/
  grid-template-columns: 2fr 10fr; /*Задаем кол-во колонок. В данном случае 2 колонки: 2fr - 2 равные части, 10 равных частей*/
  /*grid-gap: 10px;*/ /*Расстояние между колонками*/
}

.app-wrapper-content {
  grid-area: c;
  background-color: lightgray;
}




